<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="style.css">
        <title>Digipogs</title>
    </head>
    <script>
        var userData = <%- JSON.stringify(rows) %>
        console.log(userData[0].permissions);
    </script>
    <body>

        <div id="tagDropDown">
            <button><a href="/rewards">Rewards</a></button>
            <button><a href="/">Pogs</a></button>
        </div><br>

        <table id="acc">
            <thead id="tableHead">
                <th id="fbUsername"><a>Formbar Username</a></th>
                <th id="amount"><a>Amount of pogs</a></th>
            </thead>
            <tbody>
                <% for(let i=0; i < rows.length; i++) { %>
                    <tr>
                        <td><a><%- rows[i].fbUserName %></a></td>
                        <td><a><%- rows[i].amountOfPogs %></a></td>
                    </tr>
                <% } %>
            </tbody>
        </table>    
    </body>
</html>