<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <src href="main.js"></src>
    <title>Creation Details</title>
</head>
<body>
    <!--A div containing the buttons and any other forms that do various things-->
    <div id="tagDropDown">
        <button><a href="/">Pogs</a></button>
        <button><a href="/rewards">Rewards</a></button>
    </div>
    <table id="table">
        <thead id="Details">
            <th>Pog Creation Details</th>
        </thead>
        <tbody>
            <!--A cell in the table containing a description on how Mr.Smith creates pogs-->
            <tr id="dArea">
                <td>
                    Welcome to the page of pog creation. 
                    Here you'll find the requirments for creating pogs including Mr.Smiths cost, the amount of time it takes, the materials, and anything else that will help you understand how pogs are created.
                    2 of the main things you'll need is filament and a 3d printer. 
                    3d printers can be bouught off Amazon or Newegg, and can be found at walmart or Best Buy.
                    Filament can easily be bought off Amazon or Newegg, but can also be found at Walmart.
                    Next, you need to use Gimp to create a png of your pog.
                    If you're making your pog in class you'll need to pay Mr.Smith 30 pogs and provide him with your png.
                    Otherwise you'll need to import the png into inkscape and use trace bitmap to turn it into an svg file.
                    Finally, you'll need to import your svg file into Fusion 360. 
                </td>
            </tr>
        </tbody>
    </table>
    <!--Another table containing extra details on how to create pogs-->
    <table id="table">
        <thead id="Details">
            <th id="cost">Cost</th>
            <th id="time">Time</th>
            <th id="FT">File Type</th>
            <th id="WL">Link(1)</th>
            <th id="WL">Link(2)</th>
        </thead>
        <tbody>
            <tr id="dArea">
                <td id="cost">30</td>
                <td id="time">15-20 minutes</td>
                <td id="FT">png or svg</td>
                <!--Links to seperate websites that may help-->
                <td id="WL"><a href="https://www.gimp.org/">Gimp</a></td>
                <td id="WL"><a href="https://www.autodesk.com/products/fusion-360/overview?term=1-YEAR&tab=subscription">Fusion 360</a></td>
            </tr>
        </tbody>
    </table>
</body>
</html>