<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Home</title>
</head>
<body>
    <h1 style="margin-top: 10%; font-size: 135px;">Welcome to Onlypogs
        <div class="buttons">
            <!-- <button class="button" id="accButton"><a href="/acc">Account</a></button> -->
            <button class="button" id="rewardButton" style="height: 35px; width: 120px; font-size: 18%;"><a href="/rewards">Rewards</a></button>
            <button class="button" style="height: 35px; width: 120px; font-size: 18%;"><a href="/pogTable">Pogs</a></button>
        </div>
    </h1>
</body>
</html>