<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <src href="main.js"></src>
    <title>Creation Details</title>
</head>
<body>
    <!--A div containing the buttons and any other forms that do various things-->
    <div id="tagDropDown">
        <button><a href="/">Pogs</a></button>
        <button><a href="/rewards">Rewards</a></button>
    </div>
    
    <table id="table">
        <thead >
            <th id="Details">How To Earn Pogs</th>
        </thead>
        <tbody>
            <table id="table">
                <thead id="Details2">
                    <th>Metal</th>
                </thead>
                <tbody>
                    <tr id="dArea2">
                        <td id="description">
                            Obtaining metal pogs is a little different than collecting normal pogs.
                            Copper pogs can be earned through basic things like small favors or doing good on an assignment. 
                            Silver pogs can be earned through trading 5 copper pogs. Also silver pogs can be earned by doing bigger favors and attending after schools events such as prom, open house, or homecoming.
                            Golden pogs can be earned through trading 10 silver pogs. Also golden pogs allow you to ask Mr.Smith for a resonable favor.
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <th>Physical</th>
                </thead>
                <tbody>
                    <tr id="dArea2">
                        <td id="description">
                            To earn pogs phsically you can sweep/clean your row including the mouses and keyboards. 
                            You can also organize the chairs, clean the kitchen and meeting tables in the back of the room. 
                            Good behavior, favors, utilizing the phone box, or a serious attempt to answer a question asked mid lesson are also good ways to earn pogs physically.
                        </td>
                    </tr>
                </tbody>
                <thead>
                    <th>Virtual</th>
                </thead>
                <tbody>
                    <tr id="dArea2">
                        <td id="description">
                            To earn pogs virtually you can rank high in a kahoot, have all your assignments turned in, and being the first to finish a group challenge.
                        </td>
                    </tr>
                </tbody>
            </table>
        </tbody>
    </table>
    <table id="table">
        <thead >
            <th id="Details">Reward Details</th>
        </thead>
        <tbody>
            <tr>
                <table id="table">
                    <thead id="Details2">
                        <th>Food/Drink</th>
                    </thead>
                    <tbody>
                        <tr id="dArea2">
                            <td id="description">
                                To Eat or Drink anything without a lid it costs 2 pogs. 
                                You have to clean up after yourself. Using the microwave costs 2 pogs. 
                                Along with the rewards table there's a paper in the kitchen that shows you all of the food and drink rewards.
                            </td>
                        </tr>
                    </tbody>
                    <thead>
                        <th>Pog Extras</th>
                    </thead>
                    <tbody>
                        <tr id="dArea2">
                            <td id="description">
                                Pog holders and extenders are used to store your pogs. 
                                There's also pog sleeves that fit in the rings of a binder and holds 25 pogs.
                                Chairs are set to a negotiable price because there's a few different chairs of different sizes and they all have different costs.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </tr>
            <tr>
                <table id="table">
                    <thead id="Details2"> 
                        <th>Pog/3d Printing Details</th>
                    </thead>
                    <tbody>
                        <!--A cell in the table containing a description on how Mr.Smith creates pogs-->
                        <tr id="dArea2">
                            <td id="description">
                                2 of the main things you'll need is filament and a 3d printer. 
                                3d printers can be bought off Amazon or Newegg, and can be found at walmart or Best Buy.
                                Filament can easily be bought off Amazon or Newegg, but can also be found at Walmart.
                                Next, you need to use Gimp to create a png of your pog.
                                If you're making your pog in class you'll need to pay Mr.Smith 30 pogs and provide him with your png.
                                Otherwise you'll need to import the png into inkscape and use trace bitmap to turn it into an svg file.
                                Finally, you'll need to import your svg file into Fusion 360. 
                                Also, Mr.Smith allows the option of custom 3d printing which has a negotiable price(same with chairs) based on size, color, and time.
                            </td>
                        </tr>
                        <tr>
                            <!--Another table containing extra details on how to create pogs-->
                            <table id="table">
                                <thead id="Details2">
                                    <th id="cost">Cost</th>
                                    <th id="time">Time</th>
                                    <th id="FT">File Type</th>
                                    <th id="WL">Link(1)</th>
                                    <th id="WL">Link(2)</th>
                                </thead>
                                <tbody>
                                    <tr id="dArea2">
                                        <td id="description">30 for pogs, Custom is negotiable</td>
                                        <td id="description">15-20 minutes</td>
                                        <td id="description">png or svg</td>
                                        <!--Links to seperate websites that may help-->
                                        <td id="description"><a href="https://www.gimp.org/">Gimp</a></td>
                                        <td id="description"><a href="https://www.autodesk.com/products/fusion-360/overview?term=1-YEAR&tab=subscription">Fusion 360</a></td>
                                    </tr>
                                </tbody>
                            </table>
                        </tr>
                    </tbody>
                </table>
            </tr>
        </tbody>
    </table>
    
    
    
    
</body>
</html>