<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <src href="main.js"></src>
    <title>Creation Details</title>
</head>

<body>
    <!--A div containing the buttons and any other forms that do various things-->
    <div id="tagDropDown">
        <button><a href="/">Pogs</a></button>
        <button><a href="/rewards">Rewards</a></button>
    </div>

    <table id="table">
        <thead>
            <th id="Details"><a>How To Earn Pogs</a></th>
        </thead>
        <tbody>
            <th> <a>Metal</a> </th>

            <tr id="dArea2">
                <td id="description"> <a>
                        Obtaining metal pogs is a little different than collecting normal pogs.
                        Copper pogs can be earned through basic things like small favors or doing good on an assignment.
                        Silver pogs can be earned through trading 5 copper pogs. Also silver pogs can be earned by doing
                        bigger favors and attending after schools events such as prom, open house, or homecoming.
                        Golden pogs can be earned through trading 10 silver pogs. Also golden pogs allow you to ask
                        Mr.Smith for a resonable favor.
                    </a> </td>
            </tr>

            <th> <a>Physical</a> </th>

            <tr id="dArea2">
                <td id="description"> <a>
                        To earn pogs phsically you can sweep/clean your row including the mouses and keyboards.
                        You can also organize the chairs, clean the kitchen and meeting tables in the back of the room.
                        Good behavior, favors, utilizing the phone box, or a serious attempt to answer a question asked
                        mid lesson are also good ways to earn pogs physically.
                    </a> </td>
            </tr>

            <th> <a>Virtual</a> </th>

            <tr id="dArea2">
                <td id="description"> <a>
                        To earn pogs virtually you can rank high in a kahoot, have all your assignments turned in, and
                        being the first to finish a group challenge.
                    </a> </td>
            </tr>

        </tbody>
    </table>

    <table id="table">
        <thead>
            <th id="Details"><a>Reward Details</a></th>
        </thead>
        <tbody>
            <th><a>Food/Drink</a></th>
            <tr id="dArea2">
                <td id="description"> <a>
                        To Eat or Drink anything without a lid it costs 2 pogs.
                        You have to clean up after yourself. Using the microwave costs 2 pogs.
                        Along with the rewards table there's a paper in the kitchen that shows you all of the food and
                        drink rewards.
                    </a> </td>
            </tr>
            <th><a>Pog Extras</a></th>
            <tr id="dArea2">
                <td id="description"> <a>
                        Pog holders and extenders are used to store your pogs.
                        There's also pog sleeves that fit in the rings of a binder and holds 25 pogs.
                        Chairs are set to a negotiable price because there's a few different chairs of different sizes
                        and they all have different costs.
                    </a> </td>
            </tr>
            <th><a>Pog/3d Printing Details</a></th>
            <!--A cell in the table containing a description on how to get pogs created or any other 3d printed items-->
            <tr id="dArea2">
                <td id="description"><a>
                        First, use gimp to create your pog as a png.
                        Then, pay Mr.Smith the 30 and provide him with your png.
                        Anything else that you may want printed has a negotiable price based on size and color.
                    </a> </td>
            </tr>
            <table>
                <!--Another table containing extra details on how to create pogs-->
                <th><a>Cost</a></th>
                <th><a>Time</a></th>
                <th><a>File Type</a></th>
                <tr>
                    <td id="description"><a>30 for pogs, Custom is negotiable</a></td>
                    <td id="description"><a>15-20 minutes</a></td>
                    <td id="description"><a>png or svg</a></td>
                    <!--Links to seperate websites that may help-->
                </tr>
            </table>
        </tbody>
    </table>
</body>

</html>