body{
  background-color: #134611;
}
#insert{
  float: right;
}
#Details{
  font-size: larger;
}
#Details2{
  font-size: large;
}
#dArea2{
  font-size: medium;
  background-color: #AFB0B0
}
#dArea1{
  width: 100%;
  height: 25%;
  font-size: large;
  background-color: #AFB0B0
}
#tagFilter{
  float: right;
}
table{
    width: 100%;
    height: 100%;
    border: solid #000000;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    background-color: 
    #33B9FF;
}
tr:nth-child(odd){
  background-color: #025845;
  border: 2px solid;
}
tr:nth-child(even){
  background-color: #AFB0B0;
  border: 2px solid;
}
tr:first-child{
  background-color: #025845;
  user-select: none;
}
tr:first-child:hover{
  cursor: pointer;
}
th {
  border: 2px solid;
}
a{
  color: #000000;
}
select{
  background-color: #bebebe;
  font-size: 25px;
}

option:nth-child(odd){
  background-color: #717171;
}

p{
  background-color: #a3a3a3 ;
  width: auto;
  text-align: center;
}
h1{
  text-align: center;
  width: auto;
  font-size: 100px;
  background-color: #717171;
}
#img{
  float: right;
  display: inline-block;
  
}
#pogs{
  width: 250px;
  text-align: center;
}

#infoBoxes {
  /* display: flex; */
}

.infobox{
  display: block;
  width: 250;
  /* float: right; */
  margin-bottom: 10px;;
}
.info{
  margin-top: 0px;
  background-color: #bebebe;
  margin-bottom: 0px;
  font-size: 25px;
  width: auto;
}
.infoheader{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  width: auto;
}

.infobox2{
  display: inline-block;
  width: 30%;
  float: right;
}
.info2{
  margin-top: 0px;
  background-color: #bebebe;
  margin-bottom: 0px;
  font-size: 25px;
  width: auto;
}
.infoheader2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  width: auto;
}
#error{
  width: 300px;
  font-size: 25px;
}
#container{
  margin-left: 200px;

}
.center {
  /* background-color: #025845; */
  margin: auto;
  padding: 10px;
  width: 600px;
  height: auto;
  overflow:auto
}
.infobox3{
  display: inline-block;
  width: 250;
  float: left;
}
@media (max-width:975px){
  h1{
    width: auto;
  }
}
@media (max-width:460px){

  .infobox2{
    display: inline-block;
     width: 100%;
  }
  #img{
    float: none;
    display: inline;
  }
  #container{
    margin-left: 0px;
  }
  .infobox{
    display: block;
    width: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
  .infoheader{
    width: auto;
  }
  .info{
    width: auto;
  }
  #Pogs{
    width: 100%;
  }
  .number{
    display: none;
  }
  .amount{
    display: none;
  }
  #serial{
    display: none;
  }
  #amount{
    display: none;
  }

}