body{
  background-color: #134611;
}
#Details{
  font-size: larger;
  text-align: center;
  color: #FFFFFF;
  border: black;
  background-color: black;
}
#dArea2{
  font-size: medium;
  background-color: #AFB0B0;
  text-align: center;
}
#dArea1{
  width: 100%;
  height: 25%;
  font-size: large;
  background-color: #AFB0B0;
  text-align: center;
}

/*TABLE*/
table{
  width: 100%;
  height: 100%;
  border: 10px solid #000000;
  border-collapse: collapse;
  text-align: center;
  margin: auto;
}
tr:nth-child(odd){
  background-color: #000000;
  color: #242525;
  border: 2px solid;
}
tr:nth-child(even){
  background-color: #242525;
  border: 2px solid;
}
th{
  font-size: x-large;
}

/*TEXT*/
a{
  color: #10A919;
  cursor: pointer;
}

/*FORMS*/
/*tags*/
select{
  background-color: #bebebe;
  font-size: 25px;
  float: right;
}
option:nth-child(odd){
  background-color: #717171;
}

button{
  background-color: #3B443C;
}




p{
  background-color: #a3a3a3 ;
  width: auto;
  text-align: center;
}
h1{
  text-align: center;
  width: auto;
  font-size: 100px;
  background-color: #717171;
}
#img{
  float: right;
  display: inline-block;
  
}
#pogs{
  width: 250px;
  text-align: center;
}

#infoBoxes {
  /* display: flex; */
}

.infobox{
  display: block;
  width: 250;
  /* float: right; */
  margin-bottom: 10px;;
}
.info{
  margin-top: 0px;
  background-color: #bebebe;
  margin-bottom: 0px;
  font-size: 25px;
  width: auto;
}
.infoheader{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  width: auto;
}

.infobox2{
  display: inline-block;
  width: 30%;
  float: right;
}
.info2{
  margin-top: 0px;
  background-color: #bebebe;
  margin-bottom: 0px;
  font-size: 25px;
  width: auto;
}
.infoheader2{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  width: auto;
}
#error{
  width: 300px;
  font-size: 25px;
}
#container{
  margin-left: 200px;

}
.center {
  /* background-color: #025845; */
  margin: auto;
  padding: 10px;
  width: 600px;
  height: auto;
  overflow:auto
}
.infobox3{
  display: inline-block;
  width: 250;
  float: left;
}
@media (max-width:975px){
  h1{
    width: auto;
  }
}
@media (max-width:460px){

  .infobox2{
    display: inline-block;
     width: 100%;
  }
  #img{
    float: none;
    display: inline;
  }
  #container{
    margin-left: 0px;
  }
  .infobox{
    display: block;
    width: 100%;
  }
  img{
    width: 100%;
    height: auto;
  }
  .infoheader{
    width: auto;
  }
  .info{
    width: auto;
  }
  #Pogs{
    width: 100%;
  }
  .number{
    display: none;
  }
  .amount{
    display: none;
  }
  #serial{
    display: none;
  }
  #amount{
    display: none;
  }

}